# Introduction au dataset

• Lire all-ages.csv dans un DataFrame et l'assigner à la variable all_ages.

• Lire recent-grads.csv dans un DataFrame et l'assigner à la variable
recent_grads.

• Afficher les 5 premières lignes de all_ages et recent_grads.

In [165]:
import numpy as np 
import pandas as pd 

all_ages = pd.read_csv("jeux_de_données/all-ages.csv")
recent_grads = pd.read_csv("jeux_de_données/recent-grads.csv")

In [166]:
all_ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423.0,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266.0,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821.0,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619.0,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894.0,0.049188,62000,38500,90000.0

In [167]:
all_ages.shape

(173, 11)

In [168]:

first_rows_all_ages = all_ages.loc[0:4]
first_rows_all_ages

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423.0,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266.0,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821.0,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619.0,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894.0,0.049188,62000,38500,90000.0

In [169]:
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [170]:
first_rows_recent_grads = recent_grads.loc[0:4]
first_rows_recent_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

# Nombre d'étudiants par catégorie de Major

• Retourner les valeurs uniques de Major_category.

• Utiliser la méthode Series.unique() (équivalent du distinct en SQL) pour
retourner les valeurs uniques d'une Series.

In [171]:
Major_category_1 = all_ages["Major_category"].unique()
Major_category_1

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', ' Physical Sciences',
       'Psychology & Social Work', '92346', '15726', 'Arts', 'Business'],
      dtype=object)

In [172]:
Major_category_2 = recent_grads["Major_category"].unique()
Major_category_2

array(['Engineering', 'Business', 'Physical Sciences',
       'Law & Public Policy', 'Computers & Mathematics',
       'Agriculture & Natural Resources',
       'Industrial Arts & Consumer Services', 'Arts', 'Health',
       'Social Science', 'Biology & Life Science', 'Education',
       'Humanities & Liberal Arts', 'Psychology & Social Work',
       'Communications & Journalism', 'Interdisciplinary'], dtype=object)

• Pour chaque valeur unique (utilisation d'une boucle for?):

• Retourner toutes les lignes où Major_category vaut cette valeur unique.

• Calculer le nombre total d'étudiants représentant cette catégorie de major
(colonne Total à sommer).

• Vous garderez en mémoire ce résultat sous la forme d'un dictionnaire
contenant une Major_category en clé et le nombre d'étudiants en valeur.

In [173]:
major_by_total_all_ages = {}

for valeur_unique in Major_category_1:
    is_major = (all_ages["Major_category"] == valeur_unique)
    total_etudiant = all_ages[is_major]["Total"].sum().copy()
    major_by_total_all_ages[valeur_unique] = total_etudiant

print(major_by_total_all_ages)

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 925726, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, ' Physical Sciences': 12166, 'Psychology & Social Work': 1987278, '92346': 79055, '15726': 12607, 'Arts': 1805865, 'Business': 9858741}

In [174]:
major_by_total_recent_grads = {}

for valeur_unique in Major_category_2:
    is_major = (recent_grads["Major_category"] == valeur_unique)
    total_etudiant = recent_grads[is_major]["Total"].sum().copy()
    major_by_total_recent_grads[valeur_unique] = total_etudiant

print(major_by_total_recent_grads)

{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 185479, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 229792, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

# Nombre d'étudiants par catégorie de Major

Mission:
• Créer une fonction dans laquelle vous utiliserez la colonne Total pour
calculer le nombre d'étudiants pour chaque catégorie de Major
(Major_category) dans chaque dataset.

• Stocker le résultat dans 2 dictionnaires distincts

• La clé pour chaque dictionnaire sera Major_category et la valeur le total d'étudiants

• Pour le dataset all_ages, stocker le résultat dans un dictionnaire qu'on nommera
aa_car_counts

• Pour le dataset recent_grads, stocker le résultat dans un dictionnaire qu'on nommera
rg_cat_counts

• Autre méthode: Utiliser un pivot de table.

• Afficher les 2 dictionnaires.

In [175]:
def nb_etudiant_category(valeur):
    major_category = valeur["Major_category"].unique()
    dictionnaire = {}
    for valeur_unique in major_category:
        is_major = (valeur["Major_category"] == valeur_unique)
        total_etudiant = valeur[is_major]["Total"].sum().copy()
        dictionnaire[valeur_unique] = total_etudiant
    
    return dictionnaire

In [176]:
aa_car_counts = nb_etudiant_category(all_ages)
rg_cat_counts = nb_etudiant_category(recent_grads)

In [177]:
aa_car_counts

{'Agriculture & Natural Resources': 632437,
 'Biology & Life Science': 1338186,
 'Engineering': 3576013,
 'Humanities & Liberal Arts': 3738335,
 'Communications & Journalism': 1803822,
 'Computers & Mathematics': 1781378,
 'Industrial Arts & Consumer Services': 925726,
 'Education': 4700118,
 'Law & Public Policy': 902926,
 'Interdisciplinary': 45199,
 'Health': 2950859,
 'Social Science': 2654125,
 'Physical Sciences': 1013152,
 ' Physical Sciences': 12166,
 'Psychology & Social Work': 1987278,
 '92346': 79055,
 '15726': 12607,
 'Arts': 1805865,
 'Business': 9858741}

In [178]:
rg_cat_counts

{'Engineering': 537583,
 'Business': 1302376,
 'Physical Sciences': 185479,
 'Law & Public Policy': 179107,
 'Computers & Mathematics': 299008,
 'Agriculture & Natural Resources': 79981,
 'Industrial Arts & Consumer Services': 229792,
 'Arts': 357130,
 'Health': 463230,
 'Social Science': 529966,
 'Biology & Life Science': 453862,
 'Education': 559129,
 'Humanities & Liberal Arts': 713468,
 'Psychology & Social Work': 481007,
 'Communications & Journalism': 392601,
 'Interdisciplinary': 12296}

# Taux de jobs à faible salaire

• Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la
proportion de jeunes diplômés qui ont du trouver des jobs à faible
salaire (recent_grads).

• Souvenez-vous que vous pouvez utiliser la méthode Series.sum() pour
retourner la somme des valeurs d'une colonne

• Stocker le résultat dans la variable low_wage_proportion et afficher
le.

In [179]:

low_wage_sum = recent_grads["Low_wage_jobs"].sum()
total_sum = recent_grads["Total"].sum()

low_wage_proportion = (low_wage_sum / total_sum) * 100 

low_wage_proportion

9.852546076122913

# Comparer des datasets

• Utiliser une boucle for pour parcourir toutes les majors.

• Pour chaque Major et chaque DataFrame, filtrer seulement les lignes du
DataFrame correspondant à cette major

• Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel
des 2 DataFrames possèdent la valeur la plus basse

• Incrémenter (cad ajouter 1) à la variable rg_lower_count si la valeur pour
Unemployment_rate est plus petite dans le dataframe recent_grads que dans
le dataframe all_ages

• Afficher le résultat rg_lower_count.

In [180]:
majors_1 = all_ages["Major"]
majors_2 = recent_grads["Major"]

In [193]:
rg_lower_count = 0

for major in majors_1:
    is_major_1 = (all_ages["Major"] == major)
    is_major_2 = (recent_grads["Major"] == major)
    valeur_1 = all_ages[is_major_1]["Unemployment_rate"].tolist()
    valeur_2 = recent_grads[is_major_2]["Unemployment_rate"].tolist()
    if len(valeur_1) > 0 and len(valeur_2) > 0:
        if valeur_1 > valeur_2:
            rg_lower_count += 1

print("rg_lower_count =",rg_lower_count)

rg_lower_count = 42