In [54]:
import numpy as np 
world_alcohol = np.genfromtxt("world_alcohol.csv", delimiter = ",", dtype = "U75", skip_header = 1)
print(world_alcohol)

[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['1986' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['1986' 'Africa' 'Swaziland' 'Other' '5.15']]

In [55]:
countries_is_canada = world_alcohol[:,2] == "Canada"
print(countries_is_canada)

[False False False ... False False False]

In [56]:
countries_in_canada = world_alcohol[world_alcohol[:,2] == "Canada"]
# countries_is_canada = world_alcohol[countries_is_canada]
print(countries_is_canada)
print()
print(countries_is_canada.shape)

[False False False ... False False False]

(3257,)

In [57]:
country_is_algeria = world_alcohol[:,2] == "Algeria" 
country_is_algeria = world_alcohol[country_is_algeria]
print(country_is_algeria.shape)

(20, 5)

In [58]:
years_1984 = world_alcohol[:,0] == "1984"
years_1984 = world_alcohol[years_1984]
print(years_1984.shape)

(646, 5)

In [59]:
years_1984 = world_alcohol[world_alcohol[:,0] == "1984"]
print(years_1984)

[['1984' 'Africa' 'Nigeria' 'Other' '6.1']
 ['1984' 'Eastern Mediterranean' 'Afghanistan' 'Other' '0']
 ['1984' 'Americas' 'Costa Rica' 'Wine' '0.06']
 ...
 ['1984' 'Europe' 'Latvia' 'Spirits' '7.5']
 ['1984' 'Africa' 'Angola' 'Wine' '0.57']
 ['1984' 'Africa' 'Central African Republic' 'Wine' '0.46']]

In [60]:
# clause & pour avoir un élément produit des deux conditions
is_algeria_and_1986 = (world_alcohol[:,2] == "Algeria") & (world_alcohol[:,0] == "1986")
rows_algeria_and_1986 = world_alcohol[is_algeria_and_1986]
print(rows_algeria_and_1986)
print(rows_algeria_and_1986.shape)

[['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1986' 'Africa' 'Algeria' 'Other' '0']]
(4, 5)

In [61]:
# clause | pour avoir un élement d'une des deux conditions 
is_algeria_or_canada = (world_alcohol[:,2] == "Algeria") | (world_alcohol[:,2] == "Canada")
rows_with_algeria_or_canada = world_alcohol[is_algeria_or_canada,:]
print(rows_with_algeria_or_canada)
print(rows_with_algeria_or_canada.shape)

[['1984' 'Americas' 'Canada' 'Spirits' '3.35']
 ['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1989' 'Americas' 'Canada' 'Wine' '1.27']
 ['1984' 'Americas' 'Canada' 'Beer' '5']
 ['1985' 'Americas' 'Canada' 'Beer' '4.94']
 ['1987' 'Americas' 'Canada' 'Wine' '1.3']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1987' 'Americas' 'Canada' 'Beer' '4.83']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1986' 'Americas' 'Canada' 'Other' '']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1986' 'Americas' 'Canada' 'Spirits' '3.11']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1985' 'Americas' 'Canada' 'Spirits' '3.21']
 ['1985' 'Americas' 'Canada' 'Other' '']
 ['1986' 'Americas' 'Canada' 'Beer' '4.87']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1984' 'Americas' 'Canada' 'Wine' '1.24']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Americas' 'Canada' 'Spirits' '2.91']
 ['1984' 'Africa' 'Algeria' 'Beer' '0.2']
 ['1985' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Americas' 'Canada' 'Other' '']
 ['1985' 'Americas' 'Canada' 'Wine' '1.29']
 ['1987' 'Americas' 'Canada' 'Spirits' '2.99']
 ['1989' 'Americas' 'Canada' 'Beer' '4.82']
 ['1989' 'Americas' 'Canada' 'Other' '']
 ['1986' 'Americas' 'Canada' 'Wine' '1.33']
 ['1987' 'Americas' 'Canada' 'Other' '']]
(40, 5)

In [62]:
#remplacer des valeurs dans un tableau Numpy

world_alcohol_2 = world_alcohol.copy()

In [63]:
print(world_alcohol_2[:,0])

['1986' '1986' '1985' ... '1986' '1987' '1986']

In [64]:
print(world_alcohol_2[world_alcohol_2[:,0] == '1986'])

[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1986' 'Americas' 'Colombia' 'Beer' '4.27']
 ...
 ['1986' 'Western Pacific' 'Fiji' 'Spirits' '0.05']
 ['1986' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1986' 'Africa' 'Swaziland' 'Other' '5.15']]

In [65]:
world_alcohol_2[:,0][world_alcohol_2[:,0] == '1986'] = '2018'
print(world_alcohol_2)

[['2018' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['2018' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['2018' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' 'Africa' 'Swaziland' 'Other' '5.15']]

In [66]:
world_alcohol_2[:,3][world_alcohol_2[:,3] == 'Wine'] = 'Beer'
print(world_alcohol_2)

[['2018' 'Western Pacific' 'Viet Nam' 'Beer' '0']
 ['2018' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Beer' '1.62']
 ...
 ['2018' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' 'Africa' 'Swaziland' 'Other' '5.15']]

In [67]:
# Remplacer des chaines de caractères vides

is_value_empty = (world_alcohol[:,4] == "")
print(is_value_empty)

[False False False ... False False False]

In [68]:
world_alcohol[is_value_empty, 4] = '0'
print(world_alcohol)

[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['1986' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['1986' 'Africa' 'Swaziland' 'Other' '5.15']]

In [69]:
# Convertir des types de données

alcohol_consumption = world_alcohol[:,4]
alcohol_consumption = alcohol_consumption.astype(float)
print(alcohol_consumption)

[0.   0.5  1.62 ... 2.54 0.   5.15]

In [70]:
# calcul de la somme et de la moyenne

total_alcohol = alcohol_consumption.sum()
average_alcohol = alcohol_consumption.mean()

In [71]:
print(total_alcohol)

3908.96

In [72]:
print(average_alcohol)

1.2001719373656738

In [73]:
# consommation total & moyenne pour le canada en 1987

canada_consumption = (world_alcohol[:,2] == "Canada") & (world_alcohol[:,0] == "1987")
rows_in_canada_consumption = world_alcohol[canada_consumption,:]
canada_1987 = rows_in_canada_consumption[:,4]
canada_1987 = canada_1987.astype(float)
total_canada_1987 = canada_1987.sum()
average_canada_1987 = canada_1987.mean()
print("La consommation total d'alcool au Canada en 1987 est de :")
print(total_canada_1987)
print("La consommation moyenne d'alcool au Canada en 1987 est de :")
print(average_canada_1987)

La consommation total d'alcool au Canada en 1987 est de :
9.120000000000001
La consommation moyenne d'alcool au Canada en 1987 est de :
2.2800000000000002

In [74]:
# consommation moyenne de bière pour le continent Americas

americas_beer = (world_alcohol[:,1] == "Americas") & (world_alcohol[:,3] == "Beer")
rows_in_americas_beer = world_alcohol[americas_beer,:]
americas_beer_consumption = rows_in_americas_beer[:,4]
americas_beer_consumption = americas_beer_consumption.astype(float)
total_americas_beer = americas_beer_consumption.sum()
average_americas_beer = americas_beer_consumption.mean()
print("La consommation total de bière sur le continent Americas est de :")
print(total_americas_beer)
print("La consommation moyenne de bière sur le continent Americas est de :")
print(average_americas_beer)

La consommation total de bière sur le continent Americas est de :
310.02
La consommation moyenne de bière sur le continent Americas est de :
2.0001290322580645

# Calculer la consommation pour chaque pays

- Tout d'abord, on crée un dictionnaire vide qui va contenir tous les pays et leurs consommations d'alcool associées, on le nommera totals.
- Sélectionner ensuite les lignes de world_alcohol correspondant à l'année donnée, disons 1989. Assigner le résultat à la variable year.
- Sélectionner dans une liste qu'on nommera countries tous les pays.
- Parcourir tous les pays de la liste à l'aide d'une boucle. Pour chaque pays:
>- Sélectionner les lignes de year correpondant à ce pays
>- Assigner le résultat à la variable country_consumption
>- Extraire la 5e colonne de country_consumption
>- Remplacer toute chaine de caractère vide dans cette colonne par 0
>- Convertir la colonne en décimal (float)
>- Calculer la somme de la colonne
>- Ajouter la somme au dictionnaire totals, avec comme clé le nom du pays et en valeur cette somme.
- Afficher le dictionnaire totals.

In [75]:
totals = {}
is_year = world_alcohol[:,0] == '1989'
year = world_alcohol[is_year]
countries = world_alcohol[:,2]
print(countries)

for country in countries:
    is_country = year[:,2] == country
    country_consumption = year[is_country,:]
    alcohol_column = country_consumption[:,4]
    is_empty = alcohol_column == ''
    alcohol_column[is_empty] = '0'
    alcohol_column = alcohol_column.astype(float)
    totals[country] = alcohol_column.sum()

print(totals)

['Viet Nam' 'Uruguay' "Cte d'Ivoire" ... 'Switzerland' 'Papua New Guinea'
 'Swaziland']
{'Viet Nam': 0.16, 'Uruguay': 7.4399999999999995, "Cte d'Ivoire": 2.2, 'Colombia': 6.960000000000001, 'Saint Kitts and Nevis': 4.65, 'Guatemala': 2.47, 'Mauritius': 3.54, 'Angola': 2.28, 'Antigua and Barbuda': 4.69, 'Nigeria': 6.74, 'Botswana': 4.63, "Lao People's Democratic Republic": 5.95, 'Afghanistan': 0.0, 'Guinea-Bissau': 2.67, 'Costa Rica': 5.3999999999999995, 'Seychelles': 3.3000000000000003, 'Norway': 5.08, 'Kenya': 2.82, 'Myanmar': 0.16, 'Romania': 8.41, 'Turkey': 0.72, 'Comoros': 0.10999999999999999, 'Tunisia': 0.95, 'United Kingdom of Great Britain and Northern Ireland': 9.99, 'Bahrain': 4.89, 'Italy': 10.899999999999999, 'Sierra Leone': 4.380000000000001, 'Micronesia (Federated States of)': 0.0, 'Mauritania': 0.02, 'Russian Federation': 5.35, 'Egypt': 0.42000000000000004, 'Sweden': 7.47, 'Qatar': 1.4500000000000002, 'Burkina Faso': 3.99, 'Austria': 13.9, 'Czech Republic': 13.009999999999998, 'Ukraine': 5.32, 'China': 3.33, 'Lithuania': 0.0, 'Zimbabwe': 4.92, 'Trinidad and Tobago': 4.68, 'Mexico': 5.1, 'Nicaragua': 2.5, 'Malta': 7.13, 'Switzerland': 13.849999999999998, 'Finland': 9.419999999999998, 'Saudi Arabia': 0.15, 'Kuwait': 0.0, 'El Salvador': 1.77, 'Suriname': 3.67, 'Croatia': 10.92, 'Somalia': 0.0, 'Syrian Arab Republic': 0.54, 'Iran (Islamic Republic of)': 0.0, 'Papua New Guinea': 1.1099999999999999, 'Libya': 0.0, 'Bolivia (Plurinational State of)': 3.05, 'Iraq': 0.75, 'Namibia': 0.24, 'Uganda': 7.8, 'Togo': 2.2199999999999998, 'Madagascar': 1.38, 'Mali': 0.6699999999999999, 'Pakistan': 0.02, 'Cameroon': 6.359999999999999, 'Jamaica': 3.03, 'Malawi': 1.02, 'Netherlands': 10.030000000000001, 'Ireland': 11.79, 'Sri Lanka': 0.14, 'Democratic Republic of the Congo': 1.92, 'Bahamas': 12.290000000000001, 'Lebanon': 3.94, 'Bulgaria': 11.43, 'Eritrea': 0.29, 'Niger': 0.11, 'Luxembourg': 15.21, 'Indonesia': 0.07, 'Equatorial Guinea': 6.49, "Democratic People's Republic of Korea": 3.6799999999999997, 'Chile': 8.649999999999999, 'Central African Republic': 2.5199999999999996, 'Spain': 13.280000000000001, 'Gambia': 1.6300000000000001, 'Ghana': 1.8599999999999999, 'Brazil': 5.52, 'Portugal': 15.350000000000001, 'Burundi': 8.159999999999998, 'Belgium': 11.61, 'Paraguay': 6.51, 'Hungary': 16.29, 'Greece': 10.15, 'India': 1.66, 'Kyrgyzstan': 4.279999999999999, 'France': 16.05, 'Zambia': 3.37, 'Israel': 2.0300000000000002, 'Swaziland': 6.68, 'Canada': 9.0, 'Cambodia': 0.33, 'Cabo Verde': 2.79, 'United Arab Emirates': 4.43, 'Peru': 4.99, 'Solomon Islands': 0.5800000000000001, 'United Republic of Tanzania': 5.9, 'Chad': 0.30000000000000004, 'Cuba': 4.37, 'Guyana': 9.940000000000001, 'Mongolia': 2.59, 'Australia': 12.09, 'Sao Tome and Principe': 2.57, 'Slovenia': 12.969999999999999, 'Benin': 1.3800000000000001, 'Algeria': 0.4, 'Venezuela (Bolivarian Republic of)': 7.87, 'Ecuador': 2.54, 'Iceland': 5.359999999999999, 'Liberia': 5.61, 'Yemen': 0.2, 'Sudan': 0.15, 'Belarus': 7.9799999999999995, 'Cyprus': 9.29, 'United States of America': 9.16, 'Vanuatu': 1.74, 'Bangladesh': 0.0, 'Philippines': 3.78, 'Slovakia': 12.700000000000001, 'Poland': 9.33, 'Senegal': 0.6100000000000001, 'Honduras': 2.15, 'Bhutan': 0.31, 'Fiji': 1.9600000000000002, 'Belize': 0.0, 'Lesotho': 2.02, 'Singapore': 1.61, 'Guinea': 0.21, 'Brunei Darussalam': 2.7800000000000002, 'Congo': 3.1500000000000004, 'Thailand': 3.92, 'Djibouti': 0.87, 'Gabon': 9.34, 'Dominican Republic': 4.53, 'Morocco': 0.7, 'New Zealand': 11.52, 'Denmark': 11.649999999999999, 'Samoa': 2.63, 'Argentina': 10.82, 'Oman': 1.03, 'Kiribati': 0.48, 'Albania': 1.73, 'Nepal': 0.03, 'Malaysia': 0.68, 'Latvia': 7.039999999999999, 'Haiti': 5.81, 'South Africa': 9.21, 'Republic of Korea': 9.620000000000001, 'Japan': 7.74, 'Mozambique': 0.39, 'Ethiopia': 0.8600000000000001, 'Panama': 4.6000000000000005, 'Germany': 14.64, 'Saint Lucia': 11.62, 'Rwanda': 7.549999999999999, 'Jordan': 0.19}

# Trouver le pays qui consomme le plus d'alcool.

- Créer une variable highest_value qui gardera en mémoire la plus grande valeur du dictionnaire totals. On la fixe à 0 pour commencer.
- Créer une variable similaire qu'on nommera highest_key qui gardera en mémoire le nom du pays associé à la plus grande valeur. On la fixe à la valeur None.
- Parcourir chaque pays du dictionnaire totals:
>- Si la valeur associée au pays est plus grande que highest_value, assigner la valeur en question à la variable highest_value et assigner la clé correspondante (nom du pays) à la variable highest_key.
- Afficher le pays qui consomme le plus d'alcool (variable highest_key)

In [81]:
highest_value = 0
highest_key = None

for country in totals:
    if totals[country] > highest_value:
        highest_value = totals[country]
        highest_key = country

print(highest_key)
print(highest_value)

Hungary
16.29

# Puis ensuite créer une fonction qui aura pour argument d'entré une année et retournera le dictionnaire contenant la consommation moyenne pour chaque pays.

In [89]:
def average_consumption_by_year(year):

    totals = {}

    is_year = (world_alcohol[:,0] == year)
    year_current = world_alcohol[is_year]
    countries = year_current[:,2]

    for country in countries:
        is_country = (year_current[:,2] == country)
        country_consumption = year_current[is_country,:]
        alcohol_column = country_consumption[:,4]
        is_empty_country_consumption = (alcohol_column == '')
        alcohol_column[is_empty_country_consumption] = '0'
        alcohol_column = alcohol_column.astype(float)
        totals[country] = alcohol_column.sum()

    return totals

total_1989 = average_consumption_by_year("1989")

total_1989

{'Guatemala': 2.47,
 'Seychelles': 3.3000000000000003,
 'Costa Rica': 5.3999999999999995,
 'Mauritius': 3.54,
 'Zimbabwe': 4.92,
 'Suriname': 3.67,
 'Croatia': 10.92,
 'Syrian Arab Republic': 0.54,
 'Bolivia (Plurinational State of)': 3.05,
 'Somalia': 0.0,
 'Namibia': 0.24,
 'Uganda': 7.8,
 'Afghanistan': 0.0,
 'Jamaica': 3.03,
 'Finland': 9.419999999999998,
 'Iraq': 0.75,
 'Malawi': 1.02,
 'Bulgaria': 11.43,
 'Nicaragua': 2.5,
 'Central African Republic': 2.5199999999999996,
 'Burundi': 8.159999999999998,
 'Sweden': 7.47,
 'Greece': 10.15,
 'Kyrgyzstan': 4.279999999999999,
 'Belgium': 11.61,
 'Angola': 2.28,
 'Burkina Faso': 3.99,
 'Czech Republic': 13.009999999999998,
 'United Arab Emirates': 4.43,
 'Peru': 4.99,
 'Trinidad and Tobago': 4.68,
 'Guyana': 9.940000000000001,
 'Bahrain': 4.89,
 'Benin': 1.3800000000000001,
 'Liberia': 5.61,
 'Viet Nam': 0.16,
 'Belarus': 7.9799999999999995,
 'Swaziland': 6.68,
 'France': 16.05,
 'United States of America': 9.16,
 'Cabo Verde': 2.79,
 'Saudi Arabia': 0.15,
 'Poland': 9.33,
 'Senegal': 0.6100000000000001,
 'Slovenia': 12.969999999999999,
 'Hungary': 16.29,
 'Iran (Islamic Republic of)': 0.0,
 'Lesotho': 2.02,
 'Gabon': 9.34,
 'Comoros': 0.10999999999999999,
 'Italy': 10.899999999999999,
 'Denmark': 11.649999999999999,
 'Canada': 9.0,
 'Zambia': 3.37,
 'Botswana': 4.63,
 'Kuwait': 0.0,
 'Russian Federation': 5.35,
 'New Zealand': 11.52,
 'Uruguay': 7.4399999999999995,
 'Fiji': 1.9600000000000002,
 'Israel': 2.0300000000000002,
 "Cte d'Ivoire": 2.2,
 'Spain': 13.280000000000001,
 'South Africa': 9.21,
 'Morocco': 0.7,
 'Venezuela (Bolivarian Republic of)': 7.87,
 'Egypt': 0.42000000000000004,
 'Ethiopia': 0.8600000000000001,
 'Bhutan': 0.31,
 'Chile': 8.649999999999999,
 'Cambodia': 0.33,
 'Mali': 0.6699999999999999,
 'Nepal': 0.03,
 'Kiribati': 0.48,
 'Dominican Republic': 4.53,
 'Vanuatu': 1.74,
 'Solomon Islands': 0.5800000000000001,
 'Libya': 0.0,
 'Ukraine': 5.32,
 'Eritrea': 0.29,
 'Switzerland': 13.849999999999998,
 'Mexico': 5.1,
 'Portugal': 15.350000000000001,
 'El Salvador': 1.77,
 'Philippines': 3.78,
 'Netherlands': 10.030000000000001,
 'Mozambique': 0.39,
 'Togo': 2.2199999999999998,
 "Democratic People's Republic of Korea": 3.6799999999999997,
 'Cuba': 4.37,
 'Singapore': 1.61,
 'Lithuania': 0.0,
 'Ecuador': 2.54,
 'Malaysia': 0.68,
 'Niger': 0.11,
 'Democratic Republic of the Congo': 1.92,
 'Australia': 12.09,
 'Cyprus': 9.29,
 'Antigua and Barbuda': 4.69,
 'Pakistan': 0.02,
 'Colombia': 6.960000000000001,
 'Saint Lucia': 11.62,
 'Brazil': 5.52,
 'Algeria': 0.4,
 'Malta': 7.13,
 "Lao People's Democratic Republic": 5.95,
 'Turkey': 0.72,
 'Ghana': 1.8599999999999999,
 'Mauritania': 0.02,
 'Cameroon': 6.359999999999999,
 'Bahamas': 12.290000000000001,
 'Djibouti': 0.87,
 'Equatorial Guinea': 6.49,
 'Oman': 1.03,
 'Micronesia (Federated States of)': 0.0,
 'Myanmar': 0.16,
 'Qatar': 1.4500000000000002,
 'Rwanda': 7.549999999999999,
 'Mongolia': 2.59,
 'Latvia': 7.039999999999999,
 'Kenya': 2.82,
 'Saint Kitts and Nevis': 4.65,
 'Japan': 7.74,
 'Iceland': 5.359999999999999,
 'Papua New Guinea': 1.1099999999999999,
 'Guinea-Bissau': 2.67,
 'Belize': 0.0,
 'United Republic of Tanzania': 5.9,
 'Paraguay': 6.51,
 'Thailand': 3.92,
 'Tunisia': 0.95,
 'United Kingdom of Great Britain and Northern Ireland': 9.99,
 'Lebanon': 3.94,
 'Luxembourg': 15.21,
 'Albania': 1.73,
 'Bangladesh': 0.0,
 'Sudan': 0.15,
 'Congo': 3.1500000000000004,
 'Indonesia': 0.07,
 'Sierra Leone': 4.380000000000001,
 'Guinea': 0.21,
 'Panama': 4.6000000000000005,
 'Honduras': 2.15,
 'Samoa': 2.63,
 'Brunei Darussalam': 2.7800000000000002,
 'Germany': 14.64,
 'Yemen': 0.2,
 'Chad': 0.30000000000000004,
 'Sri Lanka': 0.14,
 'Republic of Korea': 9.620000000000001,
 'Sao Tome and Principe': 2.57,
 'Slovakia': 12.700000000000001,
 'Haiti': 5.81,
 'Jordan': 0.19,
 'Madagascar': 1.38,
 'Austria': 13.9,
 'Norway': 5.08,
 'Argentina': 10.82,
 'Romania': 8.41,
 'China': 3.33,
 'Nigeria': 6.74,
 'India': 1.66,
 'Ireland': 11.79,
 'Gambia': 1.6300000000000001}